<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
</head>
<body>
    <style>
        .task {
            border: 1px solid black;
            padding: 10px;
            border-radius: 20px;
            margin: 5px;
        }
        .done p{
            background-color: lightgray;
            text-decoration: line-through;
        }
    </style>
    <h1>TODO List</h1>
    <form action="/add" method="post">
        <input type="text" placeholder="Enter a new task" name="task-text">
        <input type="submit" value="Add">
    </form>

    {% for task in tasks %}
    <div class="task {% if task[2] == 1 %}done{% endif %}">
        <p>{{task[1]}}</p>
        <form action="/change_status" method="post">
            <input type="hidden" name="task-id" value="{{task[0]}}">
            {% if task[2] == 0 %}
            <button type="submit">Done</button>
            {% else %}
            <button type="submit">Undone</button>
            {% endif %}
        </form>
        <form action="/delete" method="post">
            <input type="hidden" name="task-id" value="{{task[0]}}">
            <button type="submit">Delete</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>